#2players, #1player, #play, #restart, #newMatch, #currPlay, #display, #scorePlayer1, #scorePlayer2 {
  margin-left: 20px;
}

body {
  display: flex;
  justify-content: center;
  background: url('images/7.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#wrapper {
  margin: 0 auto;
}
#topHeader {
  font-size: 80px;
  font-family: 'Rock Salt', cursive;
  text-align: center;
  color: black;
  padding-bottom: 20px;
}
#radioButtons {
  margin: 30px 0;
}
#score {
  font-family: 'Rock Salt', cursive;
  padding: 10px 0 50px 0;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}
#currPlay, #display {
  font-size: 40px;
  font-weight: bold;
  margin-top: 30px;
  color: black;
}
#board {
  width: 846px;
  height: 674px;
  display: inline-block;
  background: url('images/4.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  float: left;
}

.columns {
  height: 670px;
  float: left;
  display: inline-block;
}
.columns:hover {
  border: 0 solid black;
  background-color: rgba(0, 0, 0, 0.1);
}
.cell {
  display: block;
  text-align: center;
  height: 100px;
  width: 100px;
  line-height: 100px;
  margin: 10px;
	background-color: rgba( 0, 0, 0, .2);
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.piecez {
  height: 100px;
  width: 100px;
}

#leftPiece {
	width: 60px;
	height: 790px;
	background: url('images/12.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  float: left;
}
#rightPiece {
	width: 60px;
	height: 790px;
	background: url('images/12.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  float: left;
  margin-bottom: 150px;
}
